<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Results</title>
</head>
<body>
  <div class="container">
    <h1>White Blood Cell Subtype Count</h1>
    <div class="list">
      <ul>
        <li> {{class_count_dict.Eosonophil}} Eosonophils </li>
        <li> {{class_count_dict.Lymphocyte}} Lymphocytes </li>
        <li> {{class_count_dict.Monocyte}} Monocytes </li>
        <li> {{class_count_dict.Neutrophil}} Neutrophils </li>
      </ul>
    </div>
  </div>
</body>
</html>